# Data science Tools and Ecosystem

In this notebook Data Scince tools and Ecosystem are summarised.

**Objective**
* List of popular languages for Data Science
* List of commonly used libraries
* List of data science tools

Some of the popular languages that Data Scientist use are:
1. python
2. R
3. SQL
4. Julia
5. scala

Some of the commonly used Libraries used by Data scientist include:
1. Numpy
2. pandas
3. Matplotlib
4. Seaborn
5. Tensorflow

| Data Scince tools |
|-------------------|
| jupyter Notebook |
| R studio |
| VS code |

### Below are a few examples of evaluating arithmetic expression in python

This a simple arithmtic expression to multiply then add integers

In [4]:
(3 * 4) +5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Author ##
Nisha.V